# Node
node_modules/
npm-debug.log

# Rust
target/
**/*.rs.bk

# Go & C/C++ Binaries
*.o
*.out
*.exe
tls-termination
inspection-engine
v8-isolate-pool
dns-resolver

# Environment
.env
.DS_Store

# Infrastructure
/secrets/
/logs/
